<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
<header>

    <div class="logo">
        <a href="/"><img src="/images/ChatBotLogo2.jpg" alt="ChatBot logo"></a>
        <!-- <a href="/"><img src="/resources/images/ChatBotLogo2.jpg" alt="ChatBot logo"></a>  -->
    </div>
    <nav class="navbar">
        <ul class="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <!-- <li><a href="#">ChatBot</a></li> -->
        </ul>
    </nav>
    <a class="login" href="/botlogin"><button>Login</button></a>
    <a class="signup" href="/signup"><button>Sign-up</button></a>
</header>
<article class="mainflex">
    <h1>Hey there,welcome to our ChatBot Application!!</h1>
    <p>We are here to assist you in your purchase. Click on the link below to get started and experience our application.</p>
    <a href="/signup"><button class="get-started">Get Started</button></a>
    <!-- <img src="../ChatBot_HTML/resources/images/homeFlex.jpg" alt="home page image"> -->
    <!-- <button>Get Started</button> -->
</article>

<footer class="bottom">
    <ul class="ft-list">
        <li><a href="#">Terms of usage</a></li>
        <li>&copy; 2020 Virtusa Interns(Techno India Group)</li>
    </ul>
</footer>
</body>
</html>